<div class="d-flex">
	<div id="navPanel" class="mr-3">
		<div>
			<h4 class="text-nowrap text-center overflow-hidden mt-3 mb-3 nav-width">{{appTitle}}</h4>
		</div>
		<div class="nav-width nav-scrollable">
			<ul class="list-group">
				<li class="list-group-item p-0 border-0 rounded-0">
					<div [routerLink]="['/dashboard']" routerLinkActive="nav-selected"
						class="p-2 pointer text-nowrap w-100 no-select">Dashboard
					</div>
				</li>
				<ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: accountTree }"></ng-container>
			</ul>
		</div>
		<div class="text-center fixed-bottom position-absolute text-nowrap nav-width mb-2">
			<small>© {{appTitle}}</small>
			<i class="material-icons pr-2 pointer position-absolute nav-settings" (click)="settings()" title="Settings">settings</i>
		</div>
	</div>
	<div id="app-content">
		<div class="overflow-auto h-100">
			<i class="material-icons pointer position-fixed m-2" (click)="toggle()" title="Menu">menu</i>
			<h4 class="text-center w-100 mt-2">{{pageTitle}}</h4>
			<div class="ml-5 mb-2">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>
</div>

<ng-template #recursiveList let-accountTree>
	<li class="list-group-item p-0 border-0 rounded-0" *ngFor="let acc of accountTree">
		<div *ngIf="acc.accounts.length === 0">
			<div class="p-2 pointer no-select nav-collapse nav-sub-item d-flex"
				[routerLink]="['/account', acc.id]" routerLinkActive="nav-selected">
				<span class="text-truncate w-100" [title]="acc.name">{{acc.name}}</span>
				<span>{{acc.value | currency}}</span>
			</div>
		</div>
		<div *ngIf="acc.accounts.length > 0">
			<div class="p-2 pointer nav-collapse" (click)="isCollapsed[acc.id].collapsed = !isCollapsed[acc.id].collapsed" 
				aria-expanded="!isCollapsed[acc.id].collapsed" [attr.aria-controls]="'navCollapse_' + acc.id">
				<span class="d-flex">
					<span class="text-truncate w-100 no-select" [routerLink]="['/account', acc.id]" routerLinkActive="nav-selected" 
					(click)="$event.stopPropagation()" [title]="acc.name">{{acc.name}}</span>
					<span class="no-select" [routerLink]="['/account', acc.id]" routerLinkActive="nav-selected"
					(click)="$event.stopPropagation()">{{acc.value | currency}}</span>
					<i class="material-icons pl-2">{{ isCollapsed[acc.id].collapsed ? 'add' : 'remove' }}</i>
				</span>
			</div>
			<div class="list-group pointer w-100" [ngbCollapse]="isCollapsed[acc.id].collapsed" id="navCollapse_{{acc.id}}">
				<ul class="list-group pl-2 nav-sub-item">
					<ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: acc.accounts }"></ng-container>
				</ul>
			</div>
		</div>
	</li>
</ng-template>