@import '../../variables.scss';
$navPanelWidth: 300px;

#navPanel {
	background-color: $medium-green;
	height: 100vh;
	box-shadow: 10px 0 20px -4px rgba(31, 73, 125, 0.8);
	width: $navPanelWidth;
	position: relative;

	.nav-width {
		width: $navPanelWidth;
	}

	li.list-group-item {
		background-color: $medium-green;
	}

	div.list-group-item, .nav-sub-item {
		background-color: $darker-green;
	}

	div.nav-collapse {
		border-left: 1px solid rgba(0, 0, 0, 0.125);
		border-top: 1px solid rgba(0, 0, 0, 0.125);
	}

	.nav-selected {
		font-weight: bold;
	}

	.nav-settings {
		right:0px;
		bottom:0px;
	}

	.nav-scrollable {
		height:calc(100vh - 100px);
		overflow-x:hidden;
		overflow-y:auto;
	}
	
	::-webkit-scrollbar-track {
		background: transparent; 
	}

	.loading {
		height:calc(100vh - 100px);
		margin-top:calc(50vh - 44px - 20px);
	}
}

#app-content {
	height:100vh;
	width:100vw;
}
