/* You can add global styles to this file, and also import other style files */
.line-graph-line {
	&.blue {
		stroke: steelblue !important;
	}
	&.red {
		stroke: red !important;
	}
	stroke: black;
	fill: none;
	stroke-width: 1.5px;
}