/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import '../src/variables.scss';

body {
	background-color: $light-green;
}

html, body {
	min-height: 100vh;
	height: auto;
	margin: 0;
}

.pointer {
	cursor: pointer;
}

.no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.no-select:focus {
    outline: none;
}

::-webkit-scrollbar {
	width: 8px;
}
  
::-webkit-scrollbar-track {
	background: #f1f1f1; 
}
  
::-webkit-scrollbar-thumb {
	background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
	background: #555; 
}

.line-graph-line {
	&.blue {
		stroke: steelblue !important;
	}
	&.red {
		stroke: red !important;
	}
	stroke: black;
	fill: none;
	stroke-width: 1.5px;
}