/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~material-design-icons/iconfont/material-icons.css';

$light-green: #e2ffe5;

body {
	background-color: $light-green;
}

html, body {
	min-height: 100vh;
	height: auto;
	margin: 0;
}

.pointer {
	cursor: pointer;
}

.line-graph-line {
	&.blue {
		stroke: steelblue !important;
	}
	&.red {
		stroke: red !important;
	}
	stroke: black;
	fill: none;
	stroke-width: 1.5px;
}